src/**
test/**
**/*.ts
**/*.map
tsconfig.json
vitest.config.ts
playwright.config.ts
playwright-report/**
test-results/**
node_modules/**
.vscode/**
!dist/extension.js
!dist/ohno-ts-worker.js
!node_modules/typescript/
!node_modules/typescript/**
!server/**
!server/**/*
